<div class="media">
  <div class="pull-left">
    <%= gravatar_for current_user %>
  </div>
  <div class="media-body">
    <div class="well">
      <%= link_to 'New Post', new_post_path %>
    </div>
  </div>
</div>

<%= render @posts %>
